.diskactivityled-label {
    font-size: 1em;
    min-width: 4em;
    text-align: right;
}

.diskactivityled-speed-container {
    gap: 0px;
    margin-left: 2px;
}

.diskactivityled-speed-label {
    font-size: 0.75em;
    min-width: 4em;
    text-align: right;
    line-height: 1;
    padding: 0px;
    margin: 0px;
}

.diskactivityled-rect {
    width: 12px;
    height: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0px;
    margin: 1px;
    vertical-align: bottom;
}

.diskactivityled-leds {
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: bottom;
}

.diskactivityled-container {
    gap: 0px;
    margin-left: 2px;
    margin-right: 2px;
}
